/*Navigation Bar */

.link{
  
  background-color: black;
  color: white;
  text-decoration: none;
  padding: .7rem;


}

.spacer{
  padding-left: 20px;
}

.Links{
  display: flex;
  flex-direction: row;
}

.logo{
  width: 7rem;
  height: 8rem;
}

.logo img{
  height: inherit;
  width: inherit;
}

.navBarWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-size: 45px;
}



/* Home Page CSS */


.caroselDiv{
  display: flex;
  background:url(https://static01.nyt.com/images/2014/04/09/dining/09JPPIZZA2/09JPPIZZA2-superJumbo-v3.jpg);
  background-size:100%;
  background-repeat: no-repeat;
  width:88% ;
  height:30rem;
  align-self: center;

  justify-content: center;
}
.caroselDiv h2{
  align-self: center;
  text-align: center;
  color: white;
  font-size: 48px;
}

.homeWrapper{
display: flex;
flex-direction: column;
justify-content: right;
border: 5px solid blue;
}

.Pizza{
  width: inherit;
  height: inherit;
}

.storeImage{
  width: 15rem;
  height: 15em;
}

.restaurantWrapper{
  display: flex;
  border: 3px solid red;
  flex-direction: row;
  justify-content: space-evenly;
}

.individualRestaurant{
  display: flex;
  flex-direction: column;
}

.individualRestaurant p{
margin: 2px;
}

.individualRestaurant h2{
  align-self: center;
}
/* Order CSS */





/* Delivery CSS */

